@media(max-width:425px){
    .button-wrapper {
        /* border : 1px solid black; */
        background-color: #EAEAEA;
        padding : 5px 20px;
        cursor: pointer;
        width : 80%;
    }
}

/* .button-wrapper:focus {
    cursor: pointer;
} */