.button-set-wrapper {
    flex-direction: row;
}
.button-wrapper {
    border : 1px solid black;
    background-color: beige;
    padding : 5px 20px;
    cursor: pointer;
    width : 30%;
    display: inline-block;
}

/* .button-wrapper:focus {
    cursor: pointer;
} */