#div-spinner-wrapper {
    margin: 0px;
    width: 100%;
    height: 100%;
}
.div-text-wrapper {
    margin-top: 45px;
}
.div-text-wrapper span{
    /* color: "#1339FF"; 색깔 css로 안먹음 why? */
    font-weight: bold;
    font-size: 24px;
}
.linear-progress {
    margin-top: 21px;
}
.load-start {
    animation-name: load;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes load {
    from {
        background-color: "#1339FF";
        width: 0%;
        height: 10px;
    }
    to {
        background-color: "#1339FF";
        width: 100%;
        height: 10px;
    }
}
@media screen and (min-width:769px){
    
}