.question-wrapper {
    padding: 0px 13px;
    
}

.question-text {
    font-size: 18px;
    font-weight: bold;
}

.question-body-wrapper {
    display: flex;
    height: 345px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.question-button-selected {
    animation: question-button-in 0.5s forwards;
}
.question-button-deselected {
    animation: question-button-out 0.5s forwards;
}
@keyframes question-button-in {
    from {
        background-color: white;
    }
    to {
        background-color: rgba(19, 57, 255, 0.34);
    }
}
@keyframes question-button-out {
    from {
        background-color: rgba(19, 57, 255, 0.34);
    }
    to {
        background-color: white;
    }
}
@media screen and (min-width:769px){
    
}