.div-result-wrapper {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.div-project-title {
    margin-top: 85px;
    font-weight: bold;
}
.div-result-type {
    margin-top: 14px;
    font-weight: bold;
}
.img-result-type {
    margin-top: 41px;
    font-weight: bold;
}
.div-result-des-wrapper {
    margin-top: 42px;
}
.p-result-des {
    
}
.div-combinations-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 나중에 수정*/
}
.div-best-combi-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.img-best-combi {
    margin-top: 19px;
}
.div-worst-combi-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.img-worst-combi {
    margin-top: 19px;
}
.div-share {
    margin-top: 31px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div-retry {
    margin-top: 19px;
}
.img-banner {
    margin-top: 34px;
}
.div-notion-link {
    margin-top: 29px;
}
@media screen  and (min-width:769px) { /* desktop css 작성*/
    
}