.start-wrapper {
        
}
.start-img {
    height: 186px;
    width: 222px;
    margin: 147px 0 37px 0;
}
.start-project-explain {
    padding: 27px 0px;
    font-size: 18px;
    margin-bottom: 66px;
    font-weight: bold;
}
.start-button {

}
@media screen and (min-width:769px){
    
}