.title-wrapper {
    /* border : 1px solid black; */
    /* background-color: beige; */
    padding : 5px 20px;
    width : 30%;
    display: inline-block;
}
.title-text {
    font-size : 24px;
    color: #1339FF;
    font-weight: bold;
}

@media screen and (min-width: 769px){

}