@import './css/button.css';
@import './css/title.css';
@import './css/question.css';
@import './css/start.css';

/* html, body, #app, #app>div {
  height: 100%
} */
.not-ready-screen {
  background-color: beige;
  display : flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:426px){
  .App {
    text-align: center;
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    size: 10px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .page-controller-wrapper {
    width : 100%;
  }
  .contents-wrapper {
    flex-direction: row;
    width : 100%;
  }
}
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */