@import './css/button.css';
.App {
  text-align: center;
  display : flex;
  flex-direction : column;
  align-items: center;
  justify-content: center;
  size: 10px;
}

.page-controller-wrapper {

}
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */